body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

header{
    width: 100%;
    height: 15vh;
    background: linear-gradient(90deg, #E30613, #ff3b3b);
}

.logo{
    width: 100%;
    display: flex;
}

header img{
    width: 7.5%;
    margin-left: 15px;
}

.titulo{
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: aliceblue;
    height: 15vh;
    font-family: "Lato", sans-serif;
}

.container_acoes{
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30%;
    border-radius: 23px;
    border: 2px solid #E30613;
    background-color: transparent;
}

button{
    width: 75%;
    height: 10vh;
    border-radius: 23px;
    background: linear-gradient(90deg, #E30613, #ff3b3b);
    font-size: 110%;
    color: aliceblue;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(90deg, #9e030d, #fd1111)
}

.overlay{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.addMenu{
    position: absolute;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    border-radius: 10px;
    background-color: white;
}

.mostrar{
    display: flex;
}

.sair{
    position: absolute;
    width: 5%;
    height: 5vh;
    top: 0%;
    right: 0%;
    border-radius: 10px;
}

input{
    margin-top: 1%;
    border-radius: 15px;
    text-align: center;
    font-size: 130%;
    border: 2px solid #E30613;
    background-color: transparent;
}

input:disabled,
select:disabled,
textarea:disabled{
    background-color: #dcdcdc;
    color: #666;
    cursor: not-allowed;
}

.curso{
    width: 90%;
    height: 9vh;
}

.disciplinaProfessor{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.disciplina{
    width: 43.4%;
    height: 9vh;
}

.professor{
    width: 43.4%;
    height: 9vh;
}

.dia{
    width: 90%;
    height: 9vh;
}
    
.salaHorario{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.sala{
    width: 43.4%;
    height: 9vh;
}

.horarioInicio{
    width: 21%;
    height: 9vh;
}

.horarioFim{
    width: 21%;
    height: 9vh;
}